@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
};

header,
main,
footer {
  font-family:Arial, Helvetica, sans-serif;

}

.justify-beetween{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}



